.array-container{
    display: inline-block;
    background: rgb(195, 146, 223);
    border: 1px solid white;
    bottom: 0;
    position: relative;
}
.array-bar {
width: 25px;
background: rgb(195, 146, 223);

}
.numbers{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.nav-bar{
    position: relative;
    top: 80vh;
}
.boot-background {background-color:#ffffff;}
.boot-color {color:rgb(195, 146, 223);}


