.array-container {
	display: inline-block;
	background: rgb(255, 198, 92);
	border: 1px solid white;
	position: relative;

	/*remove top later top: 10vh; */
}
.array-bar {
	width: 2px; /*28*/
	background: rgb(255, 198, 92);
}
.numbers {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-style: oblique;
	color: white;
	font-size: 0px;/*12*/
}
.nav-bar {
	position: relative;
	top: 80vh;
}
.boot-background {
	background-color: #ffffff;
}
.boot-color {
	color: rgb(195, 146, 223);
}
.boot-hover:hover {
	background-color:rgb(255, 198, 92);
}
.slider1::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: rgb(195, 146, 223);
	cursor: pointer;
  }
.slider1::-webkit-slider-thumb:active{
	background-color:rgb(255, 198, 92);
}
.slider1::-webkit-slider-thumb:focus{
	background-color:rgb(255, 198, 92);
}